{{- /* Head custom content area start */ -}}

{{- /* 只有当你在文章的头部写了 math: true 时，才会加载数学公式引擎！ */ -}}
{{- if or .Params.math .Site.Params.math -}}
    {{ partial "mathjax.html" . }}
{{- end -}}

{{- /* 引入自定义 CSS */ -}}
{{- $customCSS := resources.Get "css/extended/custom.css" -}}
{{- if $customCSS -}}
    {{- $customCSS = $customCSS | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $customCSS.RelPermalink }}" integrity="{{ $customCSS.Data.Integrity }}">
{{- end -}}

{{- /* 引入自定义 JavaScript */ -}}
{{- $customJS := resources.Get "js/custom.js" -}}
{{- if $customJS -}}
    {{- $customJS = $customJS | resources.Minify | resources.Fingerprint -}}
    <script defer src="{{ $customJS.RelPermalink }}" integrity="{{ $customJS.Data.Integrity }}"></script>
{{- end -}}

{{- /* Head custom content area end */ -}}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">